<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
 
 
 <web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<display-name>AdminLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminPasswordServlet</servlet-name>
  	<display-name>AdminPasswordServlet</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.servlet.AdminPasswordServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListAirlinesServlet</servlet-name>
  	<display-name>ListAirlinesServlet</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.servlet.ListAirlinesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AirlineActionServlet</servlet-name>
  	<display-name>AirlineActionServlet</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.servlet.AirlineActionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListPlacesServlet</servlet-name>
  	<display-name>ListPlacesServlet</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.servlet.ListPlacesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PlaceActionServlet</servlet-name>
  	<display-name>PlaceActionServlet</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.servlet.PlaceActionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListFlightsServlet</servlet-name>
  	<display-name>ListFlightsServlet</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.servlet.ListFlightsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FlightActionServlet</servlet-name>
  	<display-name>FlightActionServlet</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.servlet.FlightActionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EnterFlightdataServlet</servlet-name>
  	<display-name>EnterFlightdataServlet</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.servlet.EnterFlightdataServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>bookStepTwoServlet</servlet-name>
  	<display-name>bookStepTwoServlet</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.servlet.bookStepTwoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookStepThreeServlet</servlet-name>
  	<display-name>BookStepThreeServlet</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.servlet.BookStepThreeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookLastStepServlet</servlet-name>
  	<display-name>BookLastStepServlet</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.servlet.BookLastStepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminPasswordServlet</servlet-name>
  	<url-pattern>/AdminPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListAirlinesServlet</servlet-name>
  	<url-pattern>/ListAirlinesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AirlineActionServlet</servlet-name>
  	<url-pattern>/AirlineActionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListPlacesServlet</servlet-name>
  	<url-pattern>/ListPlacesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PlaceActionServlet</servlet-name>
  	<url-pattern>/PlaceActionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListFlightsServlet</servlet-name>
  	<url-pattern>/ListFlightsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FlightActionServlet</servlet-name>
  	<url-pattern>/FlightActionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EnterFlightdataServlet</servlet-name>
  	<url-pattern>/EnterFlightdataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>bookStepTwoServlet</servlet-name>
  	<url-pattern>/bookStepTwoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookStepThreeServlet</servlet-name>
  	<url-pattern>/BookStepThreeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookLastStepServlet</servlet-name>
  	<url-pattern>/BookLastStepServlet</url-pattern>
  </servlet-mapping>
</web-app>